@reboot /usr/bin/crontab /etc/cron.d/crontab
* * * * * curl -L -s --request GET 'https://dns-trick.com/api/update-ip/<INSERT_API_KEY>' | sed -n 's:.*center;">\(.*\)</span>.*:\1:p' > /proc/1/fd/1 2>/proc/1/fd/2
# An empty line is required at the end of this file for a valid cron file.
